#intro{
	padding-top:260px;
	width:900px;
	height:700px;
}

#intro h1 {
	font-size: 100px;
	line-height: 120px;
}

#intro p{
	font-size:30px;
	color:#842B28;
}

#intro footer{
	position:absolute;
	bottom:20px;
	right:20px;
}

/* Masthead (docs home) */
.slide {
  padding-top: 36px;
  margin-bottom: 72px;
}
.slide header,
.slide p {
  text-align: center;
}
.slide header {
  margin-bottom: 18px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.slide footer{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:250px;
	text-align:center;
}

.slide p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.slide li{
	line-height:40px;
}

pre.prettyprint{
	width:900px;
	padding:36px;
	font-size:30px;
	line-height:40px;
	margin:0;
}

/*
.slide.present header {
	-webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
	-webkit-transform: scale(1.2);
}

.slide.present header {
	-webkit-transition-delay: 5s;
	-webkit-transform: scale(1.0);
}*/

@-webkit-keyframes fun {
	0%   {}
	33%  {-webkit-transform: rotate(-10deg);}
	66% {-webkit-transform: rotate(10deg);}
	100% {-webkit-transform: rotate(0deg);}
}

#intro.present strong{
	display:inline-block;
	-webkit-animation: fun 3s infinite;
}

@-webkit-keyframes header {
	0%   {}
	50%  {-webkit-transform: scale(1.2);}
	100% {-webkit-transform: scale(1.0);}
}

.slide.present header{
	-webkit-animation: header 3s;
}


